*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{ 
background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(images/tech.jpg);
background-position: right;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.heading{
    color: white;
    font-size: 90px;
    margin-bottom: -20px;
}
.head{
    display: inline-block;
    margin-left: 70px;
}
.img{
    display: inline-block;
    margin-left: 70px;
    margin-bottom: -10px;
}
.sub-heading{
    color: rgb(238, 146, 9);
    font-size: 70px;
    line-height: 50px;
    
}
.text{
    color: white;
    font-size: x-large;
    line-height: 52px;
}
.blue-text{
color:aqua;
text-transform: capitalize;
}
.yellow-text{
    color: aqua;
    text-transform: capitalize;
}
.text2{
    color: white;
    font-size: 60px;
}
a{
    color: rgb(238, 146, 9);
    
}
a:hover{
    color: aqua;
}
.blue-bg{
    background-color: rgb(4,20,51);
    padding: 50px;
    margin-top: -4px;
}
.footer{
    color: white;
}


.btn{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    color: white;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: xx-large;
    transition: all 0.3s;
    margin: 20px;
}
.btn:hover{
    color: aqua;
    border-color: aqua;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 18px;
    padding-bottom: 18px;

}

